body{
    color: #333;
    font-family: sans-serif;
    box-sizing: border-box;
    background: black;
}

input{
    display: block;
    padding: 9px;
    margin: 12px auto;
    box-sizing: border-box;
    border: none;
    border-top: 2px solid #48e;
    background: transparent;
    outline: none !important;
    transition: background 0.3s;
    width: 100%;
    color: white;
}

input:hover{
    background-color: #26a;
}

input:hover::placeholder{
    color: white;
}

input::placeholder{
    color: #48e;
    font-weight: 700;
    transition: color 0.3s;
}

input[type="submit"]{
    width: 60%;
    padding: 12px;
    background-color: #26a;
    color: white;
    margin: 24px 0;
    margin-bottom: 12px;
}

input[type="submit"]:hover{
    background: #048;

}

form{
    width: 86%;
    margin: auto;
    background: #013;
    padding: 30px;
}

h2{
    color: white;
    margin: 36px;
}

.green{
    color: #9c9;
}

.red{
    color: rgb(233, 83, 83);
}